* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
}
table {
    /* width: 100%; */
    border-collapse: collapse;
position: fixed;
    margin-top: 150px;
   width: 900px;
    margin: 100px;
    
  }
  

  th {
    background-color: #f33c3c;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    
  
  }
  
 
  tr:nth-child(even) {
    background-color: #f7f5f5;
  } 
  img{
   
    height :20px;
    
  }
 
  

  td {
    padding: 10px;
    color: #45a049;
  }
  
  input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: #6fb622;
  }
  

  button {
    background-color: #4caf50;
    color: rgb(247, 240, 240);
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
  }
  
  
  button:hover {
    background-color: #264e26;
  }
tbody{
  background-color: #bdf8c0;

 
}

  
 